@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Russo One'), local('RussoOne-Regular'), url("../fonts/RussoOne_1.woff2") format('woff2');
  }
  /* latin-ext */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Russo One'), local('RussoOne-Regular'), url("../fonts/RussoOne_2.woff2") format('woff2');
  }
  /* latin */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Russo One'), local('RussoOne-Regular'), url("../fonts/RussoOne_3.woff2") format('woff2');
  }

main{
    padding-top: 90px;
}

html,body{
    background: black;
    font: 18px/1.2 "Russo One", sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.wrapper{
    width: 1190px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background: url("../assets/images/header.png") no-repeat;
    background-size: cover;
    margin-bottom: 32px;
}

.header__logo{

}
.nav{
    width: 100%;
    height: 90px;
    background: #242424;
    margin-bottom: 130px;
}

.nav__container{
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.nav__item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 25%;
    font-size: 24px;
    cursor: pointer;
}

.info{
    
}

.artist{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
    margin-bottom: 100px;
}

.posters{
    position: relative;
}

.posters__container{
    height: 470px;
}

.poster{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
}
.poster.second{
    left: 211px;
}

.poster.third{
    left: 357px;
}

.info__title-wrapper{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.info__more-button{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.posters__title-wrapper{
    justify-content: flex-end;
}

.about{
    position: relative;
    color: white;
    font-size: 21px;
}
.about__title-wrapper{
    justify-content: center;
}
.about__person{
    display: grid;
    grid-template-columns: 184px 1fr;
    grid-gap: 20px;
    margin-top: 80px;
    margin-bottom: 10px;

}
.about__compositions{
    margin-bottom: 20px;
}
.section-title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    color: white;
    border: 3px solid white;
}
.section-title.wide{
    padding: 0 200px;
}

.discography{
    position: relative;
    padding-top: 150px;
    margin-bottom: 100px;
}
.discography__title-wrapper{
    justify-content: center;
}
.discography__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: white;
}
.discography__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.back-to-top{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.back-to-top__button{
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
}
.footer{
    background: #242424;
    padding: 20px;
}
.footer__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socials{
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: repeat(3, 75px);
    grid-gap: 20px;
}